@use '../abstract/var';
@use '../abstract/mixins';

main {
    max-width: 78.3vw;
    max-height: 100vh;
    margin: 1.2rem 1rem auto auto;

    header {
        .header__container {
            @include mixins.container();
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header__navigation {
                display: flex;
                justify-content: space-around;
                gap: 2rem;

                #left-arrow,
                #right-arrow {
                    background-color: black;
                    border: none;
                    border-radius: 50%;

                    width: 3.2rem;
                    height: 3.2rem;
                    
                    cursor: pointer;

                    &:hover {
                        background-color: var.$background2;
                    }
                }
            }

            .header__search {
                display: flex;
                align-items: center;
                width: 36.4rem;
                height: 4.8rem;
                background-color: var.$background2;
                border-radius: 50rem;

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                    margin: 0 1rem 0 1.2rem;
                }

                #search {
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    padding-right: 1.2rem;

                    color: white;
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    outline: none;
                }
            }

            .header__conta {
                display: flex;
                align-items: center;
                gap: 3rem;

                #sign-up {
                    background-color: transparent;
                    border: none;
                    color: var.$font-color;
                    font-weight: 600;
                    font-size: 1.6rem;
                    cursor: pointer;
                }

                #log-in {
                    background-color: white;
                    padding: 1.5rem 3rem;
                    border-radius: 10rem;
                    border: none;
                    font-weight: 600;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
        }
    }
}