@use '../abstract/root';
@use '../abstract/mixins';

.side-bar {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1.2rem;
    width: 30rem;

    &__navigation {
        @include mixins.side-bar__container();
        padding-bottom: 0;

        .logo {
            width: 8rem;
        }

        ul {
            margin-top: 2rem;
            padding: 0 2rem 1rem 0;

            li {
                padding: 1rem 0;

                a {
                    display: flex;
                    color: var.$font-color;
                    font-weight: 600;
                    font-size: 1.4rem;
                    font-family: var.$dm-sans;

                    p {
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    &__biblioteca {
        @include mixins.side-bar__container();
        margin-top: 1rem;

        &__titulo {
            display: flex;
            align-items: center;
            color: var.$font-color;
            font-weight: 600;
            font-size: 1.4rem;
            justify-content: space-between;
            background-color: var.$background1;
            border: none;

            h2 {
                span {
                    margin-right: 1rem;
                }
            }

            button {
                background-color: transparent;
                padding: 1rem;
                color: var.$font-color;
                border: none;
            }
        }

        &__playlist {
            background-color: var.$background2;
            border-radius: 0.8rem;
            padding: 1.6rem 1.6rem 0 1.6rem;
            margin-top: 2rem;

            h3 {
                color: var.$font-color;
                font-weight: 600;
                font-size: 1.4rem;
                font-family: $dm-sans;
                margin-bottom: 1rem;
            }

            p {
                @extend h3;
                font-size: 1.2rem;
            }

            button {
                background-color: white;
                padding: 1rem 1.6rem;
                border: none;
                border-radius: 8rem;
                margin: 1.6rem 0;
                font-weight: 800;
            }
        }
    }

    #cookies {
        display: flex;
        margin: 2rem 0;
        font-size: 1.2rem;
        color: var.$font-color;

        &:hover {
            text-decoration: underline;
        }
    }

    #languages {
        padding: 0.8rem 1.2rem;
        background-color: transparent;
        border: var.$font-color solid 0.1rem;
        border-radius: 5rem;
        color: var.$font-color;
        font-weight: bold;

        span {
            margin-right: 0.5rem;
        }
    }
}